Repository Gabb-c/spa-mfe-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,jsx,ts,tsx --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier-quick --staged, sort-package-json package.json

chore: fix prettier
  .editorconfig
  .lintstagedrc.json
Due: prettier-quick --staged

chore: fix typo
  .lintstagedrc.json
Due: prettier-quick --staged

chore: add gitattributes
  .gitattributes
Due: prettier-quick --staged

chore: add huskyrc
  .huskyrc
Due: prettier-quick --staged

chore: add more typescript config
  .gitignore
  src/__tests__/root-component.test.tsx
  src/root.component.tsx
  tsconfig.eslint.json
  tsconfig.json
Due: eslint src --ext js,jsx,ts,tsx --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier-quick --staged

chore(tests): add more jest configs
  jest.config.js
  package.json
  src/__tests__/root-component.test.tsx
  webpack.config.js
  yarn.lock
Due: eslint src --ext js,jsx,ts,tsx --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier-quick --staged, sort-package-json package.json

ci(workflows): add test and build workflow
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: prettier-quick --staged

fix(workflows): typoo
  .github/workflows/test.yml
Due: prettier-quick --staged

test(workflows): testing versions
  .github/workflows/build.yml
Due: prettier-quick --staged

chore: add readme
  .nvmrc
  README.md
Due: prettier-quick --staged

chore: add vscode settings
  .gitignore
  .vscode/extensions.json
  .vscode/tasks.json
Due: prettier-quick --staged

ci(workflows): add nvmrc file to node version
  .github/workflows/test.yml
Due: prettier-quick --staged

ci(workflows): typo
  .github/workflows/test.yml
Due: prettier-quick --staged

feat: add route configuration
  package.json
  src/__tests__/root-component.test.tsx
  src/mfe-template.tsx
  src/pages/cart.tsx
  src/pages/home.tsx
  src/root-component.tsx
  src/root.component.tsx
  src/routes.tsx
  yarn.lock
Due: eslint src --ext js,jsx,ts,tsx --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier-quick --staged, sort-package-json package.json

feat(components): sample canvas test
  package.json
  src/pages/home.tsx
  src/stuffs/act-figure.ts
  tsconfig.json
  yarn.lock
Due: eslint src --ext js,jsx,ts,tsx --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier-quick --staged, sort-package-json package.json

chore(deps-dev): update webpack and babel deps
  package.json
  yarn.lock
Due: git add ., prettier-quick --staged, sort-package-json package.json

fix: routes
  src/routes.tsx
Due: eslint src --ext js,jsx,ts,tsx --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier-quick --staged

chore(deps): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier-quick --staged, sort-package-json package.json

chore: add tsc diagnostics
  package.json
Due: git add ., prettier-quick --staged, sort-package-json package.json

chore(deps-dev): update webpack
  package.json
  yarn.lock
Due: git add ., prettier-quick --staged, sort-package-json package.json

chore(deps-dev): update eslint deps and typings
  package.json
  yarn.lock
Due: git add ., prettier-quick --staged, sort-package-json package.json

chore(scripts): development server
  package.json
Due: git add ., prettier-quick --staged, sort-package-json package.json

chore(deps-dev): update dev deps
  package.json
  yarn.lock
Due: git add ., prettier-quick --staged, sort-package-json package.json

chore(deps-dev): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier-quick --staged, sort-package-json package.json

test: add swc jest transformer
  jest.config.js
  package.json
  yarn.lock
Due: git add ., prettier-quick --staged, sort-package-json package.json

Path conditions:
  eslint src --ext js,jsx,ts,tsx --fix: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: (any of: src/**/*.{js,ts,tsx}) or (any of: package.json)
  prettier-quick --staged: any of: **/*
  sort-package-json package.json: any of: package.json
